*.terraform*
*.tfstate*
test.sh
Terraform/dashboards/Hardware/*
Terraform/dashboards/General/*
TODO.md
!Terraform/dashboards/Hardware/proxmox.json
!Terraform/dashboards/General/docker.json
!Terraform/dashboards/General/system.json
!Terraform/dashboards/General/haproxy.json
